@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-box {
  width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}

.main-header {
  width: 100%;
  min-width: 1440px;
  padding-top: 49px;

  background-color: #eee;
}

.main-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 5;
}

.main-header ul{
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 8px;
  padding: 0;

  list-style: none;
}

.navigation-list {
  justify-content: space-between;

  width: 440px;
}

.cart-list {
  justify-content: flex-end;

  width: 160px;
}

.cart-list a {
  position: relative;

  padding-left: 40px;
}

.cart-list a::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url(../img/cart-icon.svg);
}

.main-header a {
  display: inline-block;
  padding-bottom: 5px;

  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: baseline;
  color: #000;
}

.main-header a[href]:hover {
  color: #fb565a;
}

.main-header a[href]:active {
  color: rgba(0, 0, 0, .3);
}

.logo[href]:active {
  opacity: .3;
}

.main-header .current {
  border-bottom: 2px solid #fb565a;
}

.slider {
  position: relative;

  width: 100%;
  min-width: 1440px;
  margin: -20px 0 80px;

  background-color: #eee;
}

.slider-list {
  list-style: none;
}

.slider-item {
  display: none;

  width: 520px;
  min-height: 366px;
  padding-top: 70px;
  padding-right: 640px;
}

.slider-item:nth-child(1) {
  background: url(../img/slide1.png) no-repeat 430px 23px;
}

.slider-item:nth-child(2) {
  background: url(../img/slide2.png) no-repeat 496px 6px;
}

.slider-item:nth-child(3) {
  background: url(../img/slide3.png) no-repeat 401px 25px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item p {
  margin: 13px 0 26px;
}

.lead b {
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: #000;
}

.slider-item p:nth-child(2n) {
  padding-right: 110px;
}

.button {
  display: inline-block;
  padding: 16px 0;

  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: baseline;
  text-align: center;
  color: #fff;

  background-color: #fb565a;
  border-radius: 2px;
}

.slider .button {
  margin-top: 15px;
  padding: 16px 54px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, .3);

  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(193, 49, 53, .9);
}

.service-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border-bottom: 2px solid #eee;
  list-style: none;
}

.service-item {
  width: 300px;
  margin: 0 100px 80px 0;
  padding-top: 156px;
  background: url(../img/illustration-1.png) no-repeat 0 0;
}

.service-item:nth-child(3n) {
  margin-right: 60px;
}

.service-item-two {
  background-image: url(../img/illustration-2.png);
}

.service-item-three {
  background-image: url(../img/illustration-3.png);
}

.service-item h3 {
  margin: 15px 0;

  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.service-item p {
  margin: 17px 0;
  padding-right: 40px;
}

.service .button {
  width: 160px;
  margin-top: 16px;
}

.service-item-two .button {
  background-color: #00ca74;
}

.service-item-three .button {
  background-color: #efc84a;
}

.service-item-two .button:hover,
.service-item-two .button:focus {
  background-color: #00bc6c;
}

.service-item-three .button:hover,
.service-item-three .button:focus {
  background-color: #eab534;
}

.service-item-two .button:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px rgba(0, 153, 88, .9);
}

.service-item-three .button:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px rgba(206, 150, 31, .9);
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 40px;
}

.paragraph-box {
  width: 660px;
  padding-right: 500px;

  background: url(../img/nerds-illustration.png) no-repeat 799px 0px;
}

.paragraph-box p {
  margin: 33px 0;
  padding: 0;
}

.list-box .lead,
.table-box .lead {
  margin: 5px 0;

  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.paragraph-box b {
  font-size: 45px;
  line-height: 45px;
}

.list-box ul {
  margin: 20px 0;
  padding: 0;

  list-style: none;
}

.list-box li {
  position: relative;

  margin: 25px 0;
  padding-left: 35px;
}

.list-box li::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 0;

  width: 26px;
  height: 2px;

  background-color: #fb565a;
}

.table-box .lead {
  text-align: center;
}

.table-box table {
  width: 360px;
  margin: 32px 0;
}

.table-box td {
  width: 120px;
}

.table-box tr:first-child {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 45px;
  line-height: 60px;
  font-weight: bold;
}

.table-box tr:last-child {
  line-height: 20px;
}

.table-box sup {
  font-family: "MiriandPro", "Arial", sans-serif;
  font-size: 24px;
  line-height: 60px;
}

.brand {
  margin-bottom: 80px;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 63px 0 37px;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  list-style: none;
}

.brand-list li {
  position: relative;

  display: flex;
  justify-content: center;

  width: 260px;
  margin-right: 40px;
}

.brand-list li:nth-child(4n-2) {
  margin-top: -18px;
}

.brand-list li:nth-child(4n) {
  margin-top: -11px;
  margin-right: 0;
}

.brand-list li::after {
  content: "";

  position: absolute;
  top: 1px;
  right: -21px;

  width: 2px;
  height: 50px;

  background-color: #eee;
}

.brand-list li:nth-child(2n)::after {
  top: 19px;
}

.brand-list li:nth-child(4n)::after {
  background-color: #fff;
}

.brand-list a {
  opacity: .2;
}

.brand-list a:hover,
.brand-list a:focus {
  opacity: 1;
}

.brand-list a:active {
  opacity: .1;
}

.contacts {
  position: relative;

  min-width: 1440px;
  height: 416px;

  background-color: #e9e5dc;
}

.contacts iframe {
  position: relative;
  z-index: 1;

  width: 100%;
  min-width: 1440px;

  border: none;
}

.contacts .map {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;

  width: 1440px;
  height: 416px;
  margin: 0;

  transform: translateX(-50%);
}

 .contacts .map::before {
  content: "";

  position: absolute;
  top: 89px;
  left: 0;
  z-index: 1;

  width: 231px;
  height: 190px;
  margin-left: calc(100% / 2 + 100px);

  background: url(../img/map-marker.png) no-repeat 0 0;
}

.contacts-box {
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 1;

  width: 219px;
  height: 270px;
  margin-left: calc(100% / 2 - 580px);
  padding: 26px 50px 11px;

  background-color: #fff;
}

.contacts-box h3 {
  margin: 23px 0;

  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.contacts-box p {
  margin: 19px 0;
  padding-right: 10px;

  line-height: 18px;
  color: #666;
}

.contacts-box a:not(.button) {
  color: #666;
}

.contacts-box .button {
  width: 219px;
  margin-top: 19px;
}

.social {
  display: flex;

  margin: 68px auto 71px;
}

.social-list {
  display: flex;

  width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social a {
  position: relative;

  display: block;

  width: 79px;
  height: 79px;
  margin-right: 11px;
}

.social a::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 79px;
  height: 79px;

  background: #e1e1e1 url("../img/vk-icon.svg") no-repeat center center;
  border-radius: 50%;
}

.social .social-fb::before {
  background-image: url("../img/fb-icon.svg");
}

.social .social-inst::before {
  background-image: url("../img/insta-icon.svg");
}

.social a:hover::before,
.social a:focus::before {
  background-color: #e74246;
}

.social a:active::before {
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(193, 49, 53, .9);
}

.social .social-vk:active::before {
  background-image: url("../img/vk-pink.svg");
}

.social .social-fb:active::before {
  background-image: url("../img/fb-pink.svg");
}

.social .social-inst:active::before {
  background-image: url("../img/insta-pink.svg");
}

.slogan {
  width: 560px;
  padding-right: 200px;
}

.slogan p {
  margin: 6px 0 8px;
}

.slogan b {
  font-size: 36px;
  line-height: 36px;
}

.container header {
  width: 100%;
  min-width: 1440px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 63px 0 110px;

  background-color: #eee;
}

.container h1 {
  margin: 0;

  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000;
}

.inner-page {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}

.filters {
  width: 260px;
  padding: 21px 0;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters legend,
.catalog h3 {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
}

.range-filter {
  margin: 53px 0 62px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding: 39px 20px 0;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 150px;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 63px;
  margin-left: 8px;
  padding: 9px 9px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.max-price {
  text-align: right;
}

.filter-list {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  list-style: none;
}

.filter-list li {
  margin: 17px 0;
  padding-left: 36px;
}

.filter-list label {
  position: relative;

  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #283136;

  cursor: pointer;
  user-select: none;
}

.filter-checkbox + label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: -1px;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: .4;
}

.filter-checkbox:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat 0 0;
  opacity: .4;
}

.filter-radio:checked + label::before {
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: .3;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 1;
}

.inner-page .link {
  color: #000;

  background-color: #eee;
}

.inner-page .link:hover,
.inner-page .link:focus {
  background-color: #dfdfdf;
}

.inner-page .link:active {
  color: rgba(0, 0, 0, .3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
}

.inner-page button.button {
  width: 260px;

  border: none;
  outline: none;
}

.sort-box {
  display: flex;

  margin-bottom: 38px;
}

.sort-box h3 {
  width: 360px;
  margin-right: 40px;
}

.sort-box ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;

  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;

  list-style: none;
}

.sort-box a {
  color: #000;
}

.sort-box a[href] {
  opacity: .3;
}

.sort-box a[href]:hover,
.sort-box a[href]:focus {
  opacity: .6;
}

.sort-box a[href]:active {
  opacity: 1;
}

.type-list {
  width: 300px;
}

.type-list li {
  margin-right: 26px;
}

.priority-list {
  justify-content: flex-end;

  width: 60px;
}

.priority-list a {
  position: relative;

  padding-left: 30px;
}

.priority-list a::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 19px;

  width: 11px;
  height: 10px;
}

.priority-list .sort-down::before {
  background: url(../img/icon-down-dir.svg) no-repeat 0 0;
}

.priority-list .sort-up::before {
  background: url(../img/icon-up-dir.svg) no-repeat 0 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  height: 615px;
  margin-bottom: 34px;
  padding-top: 40px;
  box-sizing: border-box;

  background-color: #e9e9e9;
  background: url(../img/browser-light-gray.svg) no-repeat 0 0;
  box-shadow: 1px 1px 1px rgba(0, 1, 1, .1),
              -1px -1px 1px rgba(0, 1, 1, .1);
  border-radius: 5px;
}

.catalog-box {
  position: absolute;
  bottom: 0px;
  left: 0;

  display: none;

  width: 360px;
  height: 230px;
  padding: 13px 60px 0;
  box-sizing: border-box;

  background-color: #eee;
}

.catalog-box h3 {
  margin: 21px 0;

  text-align: center;
}

.catalog-box p {
  margin: 13px 0;
  padding: 0;

  line-height: 18px;
  text-align: center;
}

.catalog-box .button {
  width: 200px;
  margin: 18px 20px;
}

.catalog-item:hover > .catalog-box,
.catalog-item:focus > .catalog-box {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: #4d4d4d;
  background: url(../img/browser.svg) no-repeat 0 0;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.pagination-list {
  display: flex;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.pagination-list li {
  margin-right: 11px;
}

.pagination-list a.button {
  width: 50px;
}

.pagination-list a.current {
  width: 44px;
  padding: 13px 0;

  color: #000;

  background-color: #fff;
  border: 3px solid #dbdbdb;
  box-shadow: none;
}
