@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-box {
  width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}

.main-header {
  padding-top: 49px;

  background-color: #eee;
}

.main-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 5;
}

.main-header ul{
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 8px;
  padding: 0;

  list-style: none;
}

.navigation-list {
  justify-content: space-between;

  width: 440px;
}

.cart-list {
  justify-content: flex-end;

  width: 160px;
}

.cart-list a {
  position: relative;

  padding-left: 40px;
}

.cart-list a::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url(../img/cart-icon.svg);
}

.main-header a {
  display: inline-block;
  padding-bottom: 5px;

  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: baseline;
  color: #000;
}

.main-header a[href]:hover {
  color: #fb565a;
}

.main-header a[href]:active {
  color: rgba(0, 0, 0, .3);
}

.logo[href]:active {
  opacity: .3;
}

.main-header .current {
  border-bottom: 2px solid #fb565a;
}

.slider {
  position: relative;

  margin: -20px 0 80px;

  background-color: #eee;
}

.slider-list {
  list-style: none;
}

.slider-item {
  display: flex;
  flex-direction: column;

  width: 520px;
  min-height: 366px;
  padding-top: 70px;
  padding-right: 640px;
}

.slider-item-one {
  background: url(../img/slide1.png) no-repeat 430px 23px;

}

.slider-item-two {
  display: none;

  background: url(../img/slide2.png) no-repeat 496px 6px;
}

.slider-item-three {
  display: none;

  background: url(../img/slide3.png) no-repeat 401px 25px;
}

.slider-item p {
  margin: 13px 0;
}

.lead b {
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: #000;
}

.slider-item p:nth-child(2n) {
  padding-right: 110px;
}

.button {
  display: inline-block;
  align-self: flex-start;

  margin-top: 28px;
  padding: 16px 0;

  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: baseline;
  text-align: center;
  color: #fff;

  background-color: #fb565a;
  border-radius: 2px;
}

.slider .button {
  padding: 16px 54px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, .3);

  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(193, 49, 53, .9);
}

.slider-control {
  position: absolute;
  bottom: 85px;
  left: 50%;
  z-index: 10;
}

.service-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border-bottom: 2px solid #eee;
  list-style: none;
}

.service-item {
  width: 300px;
  margin: 0 100px 80px 0;
  padding-top: 156px;
  background: url(../img/illustration-1.png) no-repeat 0 0;
}

.service-item:nth-child(3n) {
  margin-right: 60px;
}

.service-item-two {
  background-image: url(../img/illustration-2.png);
}

.service-item-three {
  background-image: url(../img/illustration-3.png);
}

.service-item h3 {
  margin: 15px 0;

  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.service-item p {
  margin: 17px 0;
  padding-right: 40px;
}

.service .button {
  width: 160px;
  margin-top: 16px;
}

.service-item-two .button {
  background-color: #00ca74;
}

.service-item-three .button {
  background-color: #efc84a;
}

.service-item-two .button:hover,
.service-item-two .button:focus {
  background-color: #00bc6c;
}

.service-item-three .button:hover,
.service-item-three .button:focus {
  background-color: #eab534;
}

.service-item-two .button:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px rgba(0, 153, 88, .9);
}

.service-item-three .button:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px rgba(206, 150, 31, .9);
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 40px;
}

.paragraph-box {
  width: 660px;
  padding-right: 500px;

  background: url(../img/nerds-illustration.png) no-repeat 799px 0px;
}

.paragraph-box p {
  margin: 33px 0;
  padding: 0;
}

.list-box .lead,
.table-box .lead {
  margin: 5px 0;

  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.paragraph-box b {
  font-size: 45px;
  line-height: 45px;
}

.list-box ul {
  margin: 20px 0;
  padding: 0;

  list-style: none;
}

.list-box li {
  position: relative;

  margin: 25px 0;
  padding-left: 35px;
}

.list-box li::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 0;

  width: 26px;
  height: 2px;

  background-color: #fb565a;
}

.table-box .lead {
  text-align: center;
}

.table-box table {
  width: 360px;
  margin: 32px 0;
}

.table-box td {
  width: 120px;
}

.table-box tr:first-child {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 45px;
  line-height: 60px;
  font-weight: bold;
}

.table-box tr:last-child {
  line-height: 20px;
}

.table-box sup {
  font-family: "MiriandPro", "Arial", sans-serif;
  font-size: 24px;
  line-height: 60px;
}

.brand {
  margin-bottom: 80px;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 63px 0 37px;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  list-style: none;
}

.brand-list li {
  position: relative;

  display: flex;
  justify-content: center;

  width: 260px;
  margin-right: 40px;
}

.brand-list li:nth-child(4n-2) {
  margin-top: -18px;
}

.brand-list li:nth-child(4n) {
  margin-top: -11px;
  margin-right: 0;
}

.brand-list li::after {
  content: "";

  position: absolute;
  top: 1px;
  right: -21px;

  width: 2px;
  height: 50px;

  background-color: #eee;
}

.brand-list li:nth-child(2n)::after {
  top: 19px;
}

.brand-list li:nth-child(4n)::after {
  background-color: #fff;
}

.brand-list a {
  opacity: .2;
}

.brand-list a:hover,
.brand-list a:focus {
  opacity: 1;
}

.brand-list a:active {
  opacity: .1;
}

.contacts {
  position: relative;

  width: 1440px;
  margin: 0 auto;
}

.contacts::before {
  content: "";

  position: absolute;
  top: 89px;
  right: 388px;

  width: 231px;
  height: 190px;

  background: url(../img/map-marker.png) no-repeat 0 0;
}

.map-box {
  margin: 0;
  padding: 0;
}

.contacts-box {
  position: absolute;
  top: 54px;
  left: 140px;

  width: 219px;
  height: 270px;
  padding: 26px 50px 11px;

  background-color: #fff;
}

.contacts-box h3 {
  margin: 23px 0;

  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.contacts-box p {
  margin: 19px 0;
  padding-right: 10px;

  line-height: 18px;
  color: #666;
}

.contacts-box a:not(.button) {
  color: #666;
}

.contacts-box .button {
  width: 219px;
  margin-top: 19px;
}

.social {
  display: flex;

  margin: 60px auto;
}

.social-list {
  display: flex;

  width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social a {
  position: relative;

  display: block;

  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.social a::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 80px;

  background: #e1e1e1 url("../img/vk-icon.svg") no-repeat center center;
  border-radius: 50%;
}

.social .social-fb::before {
  background-image: url("../img/fb-icon.svg");
}

.social .social-inst::before {
  background-image: url("../img/insta-icon.svg");
}

.social a:hover::before,
.social a:focus::before {
  background-color: #e74246;
}

.social a:active::before {
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(193, 49, 53, .9);
}

.social .social-vk:active::before {
  background-image: url("../img/vk-pink.svg");
}

.social .social-fb:active::before {
  background-image: url("../img/fb-pink.svg");
}

.social .social-inst:active::before {
  background-image: url("../img/insta-pink.svg");
}

.slogan {
  width: 560px;
  padding-right: 200px;
}

.slogan p {
  margin: 8px 0;
}

.slogan b {
  font-size: 36px;
  line-height: 36px;
}
